<?php
/**
 * Created by PhpStorm.
 * User: Leonardo Shinagawa
 * Date: 12/02/14
 * Time: 11:19
 */

return array(
    'env' => 'development',

    'db' => array(
        'driver' => 'pdo_mysql',
        'user' => '',
        'password' => '',
        'host' => '',
        'dbname' => ''
    )
);